<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>


  <el-select [model]="value" placeholder="请选择" (modelChange)="handle($event)">
    <el-option [el-class]="'myClass'" *ngFor="let item of list" [value]="item.value" [label]="item.label"></el-option>
  </el-select>


</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <p>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </p>
  </li>
  <li>
    <p>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </p>
  </li>
  <li>
    <p>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </p>
  </li>
</ul>
